.character_item {
  width: 100%;
  height: auto;
  align-items: center;  
  display: flex;
  justify-content: center;
  text-align:center;
}

.character__img {
  position: relative;
  height:500px;
  width: 100%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.character__name,
.character__year {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

.character__year {
  margin-right: 10px;
}
